<!--- templates/home.html -->
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>

    <h1>Message board homepage</h1>
    <ul>
        {% for post in post_list %}
            <li>{{ post.text }}</li>
        {% endfor %}
    </ul>


    {% block heading %}
        <h1>Movie Palace</h1>
    {% endblock heading %}

    {% block content %}
    {% endblock content %}

</body>

</html>