<!-- templates/listing.html -->
{% extends "base.html" %}

{% block content %}
  <h2> Movies</h2>
  <p>{{movies|length}} movie{{movies|length|pluralize}} found.</p>
  <ul>
    {% for movie in movies %}
      <li>
        #{{forloop.counter}} {{movie.0}} was released in {{movie.1}}
      </li>
    {% endfor %}
  </ul>

  <h2> Goodies </h2>
  <ul>
    {% for goodie in confectionaries %}
      <li> {{goodie.0}} &mdash; ${{goodie.1}}</li>
    {% empty %}
      <li> <i>There are no goodies available</i> </li>
    {% endfor %}
  </ul>

    {% comment %}
        Nothing to see here!
    {% endcomment %}

{% endblock content %}